 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 body {
   height: 100vh;
   width: 100%;
   background: linear-gradient(rgba(0, 0, 0, 0.581), rgba(0, 0, 0, 0.762)), url('./assets/hero3.jpg');
   color: #fff;
   background-attachment: fixed;
   background-size: cover;
   /* background-position: top; */
   background-repeat: no-repeat;
 }

 .ocupada {
   pointer-events: none;
   border: 3px solid crimson;
   background-color: rgba(255, 0, 0, 0.44);
   box-shadow: 0 0 5px crimson inset;
 }

 .libre {
   border: 3px solid rgb(0, 142, 194);
   background: linear-gradient(135deg, rgb(66, 125, 188), rgba(37, 247, 236, 0.852));
   box-shadow: 0 0 5px rgb(0, 142, 194) inset;
 }

 .nro-mesa {
   width: 23px;
   text-align: center;
   background-color: #fff;
   border: 2px solid gray !important;
 }

 .card {
   /* background: linear-gradient(#00000074, #00000047); */
   background-size: cover !important;
   background-position: center;
   box-shadow: 0 0 10px #ffffffc3 !important;
 }

 .cursor-pointer {
   cursor: pointer;
 }

 .icon-facebook {
   color: blue;
 }

 .icon-instagram {
   color: rgb(255, 149, 0);
 }

 .mensajeError {
   padding: 10px;
   border: 1px solid red;
   background-color: rgba(255, 21, 21, 0.232);
 }

 .title {
   font-size: 3.5rem;
 }

 .fs-2{
  font-size: 2rem;
 }

 .container-home {
   height: calc(100vh - 100px);
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .container-home div {
   bottom: 0;
 }

 .text-justify {
   text-align: justify;
   text-shadow: 0 0 3px #fff;
 }

 .text-shadow {
   text-shadow: 0 0 4.5px #fff;
 }

 .white-shadow{
  box-shadow: 0 0 10px #ffffffb0;
  backdrop-filter: blur(10px);
 }

 .form-width{
  max-width: 600px;
  width: 100%;
  /* margin: auto; */
 }

 .btn-width{
  width: 180px;
 }